{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/core-modules": ["atom"],
  },
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
  "rules": {
    "no-console": 0,
    "semi": 0,
    "max-len": 0,
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "always",
      "imports": "never",
      "exports": "never",
      "functions": "ignore",
    }],
    "class-methods-use-this": 0,
    "no-param-reassign": 0,
    "arrow-body-style": 0,
    "import/imports-first": 0,
    "import/no-extraneous-dependencies": 0,
    "import/newline-after-import": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
  },
  "globals": {
    "Audio": true,
    "atom": true,
    "window": true,
    "describe": true,
    "it": true,
    "expect": true,
    "document": true
  }
}
